
*{
	margin: 0px; /*externo*/
	padding: 10px;/*interno*/
}

/*Caja principal*/
.centro{
  position: absolute;
  text-align: center;
  padding: 5px 500px 100px;
  font-family: Arial;
  font-size: 16px;
  color: #34495E;
}


.row{
    position: absolute;
    width: 100%; /*largo*/
    height: 120px; /*altura*/
    margin: 10px auto;
    padding: 30px 100px 20px;
    background-color: #F8F9F9  ;
}


.izquierda { float: left; }
.centro1{
  padding: 50px 600px 100px;
}
